<div>
  <div>嗨，{{ userName }}：</div>
  <br>
  <div>我們收到了您要重設密碼的請求，</div>
  <div>若您要重設密碼，您可於一小時內點擊以下連結進行重新設定密碼的操作：</div>
  <br>
  <div>
    <a href="https://{{{ baseUrl }}}/auth/reset/{{{ resetToken }}}">
      https://{{{ baseUrl }}}/auth/reset/{{{ resetToken }}}
    </a>
  </div>
  <br>
  <div>若您沒有要求重設密碼，請忽略此郵件。</div>
  <br>
  <div>順頌　時祺，</div>
  <div>知識王系統</div>
  <hr>
  <div>※此信件為系統自動發送信件，請勿直接回覆。※</div>
</div>
